body { background-color: gray; }
table {border: 2px solid pink; padding: 25px; }
th { border: 1px solid blue; padding: 8px;}
td { border: 2px solid yellow; padding: 8px;} |
ol { font-size: 80%; list-style:lower-roman; }
span {background-color:maroon; color:yellow; font-size:150%;  font-style:italic; }
p { font-size:90%; }